.icon {
    width: 1.25em;
    position: relative;
    top: 0.25em;
}

.sensorIcon {
    width: 60px;
    padding: 0 2px;
    position: relative;
}

.settingsIcon {
    width: 2em;
    padding: 0 2px;

    position: relative;
    top: .2em;
    filter: hue-rotate(10deg);
}

name {
    margin: 0 1em;
    font-size: 1.5rem;
}

/* .cam-window{
    width: 900px; 
    height: 450px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,211,243,0.2638305322128851) 20%, rgba(255,211,243,0.26) 80%, rgba(2,0,36,1) 100%);
} */


.addressLine{
    margin-top: 0em;
    margin-bottom: 7px;
    margin-left: 2em;
}

#timeSystemUp{
    padding-left: 2px;
    font-family: Fira Code, monospace;
}
