.icon {
    width: 1.25em;
    position: relative;
    top: 0.25em;
}

.sensorIcon {
    width: 60px;
    padding: 0 2px;
    position: relative;
}

.settingsIcon {
    width: 2em;
    padding: 0 2px;

    position: relative;
    top: .2em;
    filter: hue-rotate(10deg);
}

name {
    margin: 0 1em;
    font-size: 1.5rem;
}

/* .cam-window{
    width: 900px; 
    height: 450px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,211,243,0.2638305322128851) 20%, rgba(255,211,243,0.26) 80%, rgba(2,0,36,1) 100%);
} */


.addressLine{
    margin-top: 0em;
    margin-bottom: 7px;
    margin-left: 2em;
}

#timeSystemUp{
    padding-left: 2px;
    font-family: Fira Code, monospace;
}

/* 
 #registeredUsers{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
}
*/

#registeredUsers img{
    margin: 10px;
    width: 160px;
    height: 160px;
    background-size: contain;
} 

/*#registeredUsers p{
    font-family: Playpen Sans;
}*/

#registeredUsers table{
    width: 85%;
    min-width: 600px;
}

/*
#registeredUsers td, #registeredUsers th{
    text-align: center;
    vertical-align: middle;
    font-family: Playpen Sans;
}*/
#registeredUsers th{
    border: none !important;
    width: 100%;
} 

#registeredUsers tr{
    display: inline-flex;
    width: 200px;
    border: 2px black solid;
    width: 200px;
    margin: 10px 5px;
    border-radius: 10%;
} 

.registeredName
{
    
}

#settingsIcon:hover {
    transform: rotate(180deg);

}

.blank{
    border: none !important;
    visibility: none;
}